/* Font Family  */
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SFProText-Regular.woff") format("woff2"),
    url("/fonts/SFProText-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SFProText-Medium.woff") format("woff2"),
    url("/fonts/SFProText-Medium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SFProText-Semibold.woff") format("woff2"),
    url("/fonts/SFProText-Semibold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "SF Pro Text";
}
/* Font Family End  */

body {
  overflow-x: hidden;
}

/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 300vh;
}

/* Icon */
.tab label::after {
  float: right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
/* Icon formatting - closed */
.tab input[type="checkbox"] + label::after {
  content: "+";
  font-weight: bold;
  border-width: 1px;
  border-radius: 9999px;
  border-color: #b8c2cc; /*.border-grey*/
}
.tab input[type="radio"] + label::after {
  content: "\25BE";
  font-weight: bold;
  border-width: 1px;
  border-radius: 9999px;
  border-color: #b8c2cc;
}
/* Icon formatting - open */
.tab input[type="checkbox"]:checked + label::after {
  transform: rotate(315deg);
  background-color: #3a58ff;
  color: #f8fafc;
}
.tab input[type="radio"]:checked + label::after {
  transform: rotateX(180deg);
  background-color: rgb(58, 88, 255);
  color: #f8fafc;
}

.border-color {
  border-color: #3a58ff;
}

.checkout {
  margin: 0px auto;
  position: relative;
  width: 460px;
  border-radius: 15px;
  padding: 20px 45px 20px;
}

.credit-card-box {
  width: 350px;
  height: 280px;
  margin-right: 20px;
}
.credit-card-box:hover .flip,
.credit-card-box.hover .flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.credit-card-box .front,
.credit-card-box .back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 250px;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: linear-gradient(
    90deg,
    rgba(108, 100, 247, 1) 6%,
    rgba(0, 212, 255, 1) 100%
  );
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.credit-card-box .front::before,
.credit-card-box .back::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("https://webdevtrick.com/demos/earth.svg") no-repeat center;
  background-size: cover;
  opacity: 0.05;
}
.credit-card-box .flip {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.credit-card-box .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.credit-card-box .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.credit-card-box .chip {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 20px;
  left: 20px;
  background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
  border-radius: 8px;
}
.credit-card-box .chip::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid rgba(128, 128, 128, 0.1);
  width: 80%;
  height: 70%;
  border-radius: 5px;
}
.credit-card-box .strip {
  background: linear-gradient(135deg, #404040, #1a1a1a);
  position: absolute;
  width: 100%;
  height: 50px;
  top: 30px;
  left: 0;
}
.credit-card-box .number {
  position: absolute;
  margin: 0 auto;
  top: 103px;
  left: 30px;
  font-size: 26px;
}
.credit-card-box label {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 3px;
}
.credit-card-box .card-holder,
.credit-card-box .card-expiration-date {
  position: absolute;
  margin: 0 auto;
  top: 180px;
  left: 19px;
  text-transform: uppercase;
}
.credit-card-box .card-expiration-date {
  text-align: right;
  left: auto;
  right: 20px;
}
.credit-card-box .ccv {
  height: 36px;
  background: #fff;
  width: 91%;
  border-radius: 5px;
  top: 110px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  color: #000;
  text-align: right;
  padding: 10px;
}
.credit-card-box .ccv label {
  margin: -25px 0 14px;
  color: #fff;
}

@media only screen and (max-width: 930px) {
  .checkout {
    width: 230px;
    padding: 10px 0px 10px;
  }
  .credit-card-box {
    width: 230px;
    height: 160px;
    margin-right: 0px;
  }
  .credit-card-box .front,
  .credit-card-box .back {
    width: 230px;
    height: 160px;
  }
  .credit-card-box .number {
    top: 80px;
    left: 30px;
    font-size: 16px;
  }
  .credit-card-box .card-holder,
  .credit-card-box .card-expiration-date {
    top: 110px;
    left: 19px;
    font-size: 14px;
  }
  .credit-card-box .card-expiration-date {
    text-align: right;
    left: auto;
    right: 20px;
  }
  .credit-card-box .ccv label {
    margin: -30px 0 14px;
    color: #fff;
  }
}

.product_btn {
  @apply focus:outline-none;
}

.payment_methods {
  @apply font-bold py-4 text-xl opacity-75;
}

.payment_title {
  @apply font-medium;
}

.payment-title {
  @apply text-base font-medium;
}

.payment-desc {
  @apply text-sm  text-gray-500;
}

.payment_banks {
  @apply w-full mt-4 mb-4;
}

.payment_banks_container {
  @apply flex border-gray-300 items-center border rounded-lg  pt-5 pb-5 mt-4 mb-4;
}

.payment_checkbox {
  @apply ml-5;
}

.bank_img {
  width: 82px;
  margin-left: 1.74rem;
}

.bank_text {
  @apply ml-6;
}

.bank_name {
  @apply font-semibold text-sm  text-gray-600;
}

.bank_status {
  @apply font-normal text-xs  text-gray-600;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 5px;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
/* Modal Animation */
dialog[open] {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background: #f5f5f5;
}

dialog::backdrop {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(54, 54, 54, 0.5));
  backdrop-filter: blur(3px);
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/* Modal Animation End */

.shopping-cart {
  width: 750px;
  margin: 20px auto;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url("../svg/delete-icn.svg") no-repeat center;
}

.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  background: url("../images/twitter-heart.png");
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}

.is-active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}

.image {
  margin-right: 50px;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 120px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
  text-align: left;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

button[class="btn"] {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline: 0;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

@media  (max-width: 900px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
    margin-left: 70px;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
  .description span {
    text-align: center;
  }
}
