@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Family  */
@font-face {
  font-family: "SF Pro Text";
  src: url("/assets/fonts/SFProText-Regular.woff") format("woff2"),
    url("/assets/fonts/SFProText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/assets/fonts/SFProText-Medium.woff") format("woff2"),
    url("/assets/fonts/SFProText-Medium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/assets/fonts/SFProText-Semibold.woff") format("woff2"),
    url("/assets/fonts/SFProText-Semibold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "SF Pro Text";
}
/* Font Family End  */

/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

/* Icon */
.tab label::after {
  float: right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
/* Icon formatting - closed */
.tab input[type="checkbox"] + label::after {
  content: "+";
  font-weight: bold;
  border-width: 1px;
  border-radius: 9999px;
  border-color: #b8c2cc; /*.border-grey*/
}
.tab input[type="radio"] + label::after {
  content: "\25BE";
  font-weight: bold;
  border-width: 1px;
  border-radius: 9999px;
  border-color: #b8c2cc;
}
/* Icon formatting - open */
.tab input[type="checkbox"]:checked + label::after {
  transform: rotate(315deg);
  background-color: #3a58ff;
  color: #f8fafc;
}
.tab input[type="radio"]:checked + label::after {
  transform: rotateX(180deg);
  background-color: rgb(58, 88, 255);
  color: #f8fafc;
}

.border-color {
  border-color: #3a58ff;
}

.container {
  @apply mx-auto sm:px-48 px-4;
}

.container_title {
  @apply flex items-end pt-4 pb-8;
}

.container_title_primary {
  @apply font-bold pr-2 text-2xl;
}

.container_title_secondary {
  @apply font-light;
}

.product_container {
  @apply flex sm:justify-between sm:flex-row flex-col;
}

.product_container_ltside {
  @apply flex mt-8;
}

.product_image {
  @apply w-32 h-32 mr-4;
}

.product_name {
  @apply font-semibold text-lg;
}

.product_seller {
  @apply font-light pb-3;
}

.cargo_status {
  @apply text-green-800 text-sm font-medium;
}

.product_container_rtside {
  @apply p-4 rounded-lg  border bg-white border-gray-400;
}

.product_price_title {
  @apply uppercase text-sm font-medium pb-2 text-gray-700;
}

.product_price {
  @apply text-2xl font-semibold pb-2;
}

.product_btn {
  background-color: #3a58ff;
  color: white;
  min-width: 200px;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  outline: none;
  letter-spacing: 1px;
}
.product_btn {
  @apply focus:outline-none;
}

.payment_methods {
  @apply font-bold py-4 text-xl opacity-75;
}

.payment_title {
  @apply font-medium;
}

.input-cart-number {
  @apply rounded-lg border-transparent flex-1 appearance-none border w-full py-2 px-4  text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent max-w-sm bg-gray-100 focus:bg-white;
}

.input-cart-person {
  @apply rounded-lg border-transparent flex-1 appearance-none border w-full py-2 px-4  text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent max-w-sm bg-gray-100 focus:bg-white;
}

.cart-date {
  @apply rounded-lg border-transparent border w-full py-2 px-4  text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent max-w-sm bg-gray-100 focus:bg-white;
}

.input-cart-ccv {
  @apply rounded-lg border-transparent border w-3/5 py-2 px-4 text-gray-700 placeholder-gray-400  shadow-sm text-base 
  focus:outline-none focus:ring-2 focus:ring-blue-600 focus:bg-white focus:border-transparent  bg-gray-100;
}

.payment-title {
  @apply text-base font-medium;
}

.payment-desc {
  @apply text-sm  text-gray-500;
}

.payment_banks {
  @apply w-full mt-4 mb-4;
}

.payment_banks_container {
  @apply flex border-gray-300 items-center border rounded-lg  pt-5 pb-5 mt-4 mb-4;
}

.payment_checkbox {
  @apply ml-5;
}

.bank_img {
  width: 82px;
  margin-left: 1.74rem;
}

.bank_text {
  @apply ml-6;
}

.bank_name {
  @apply font-semibold text-sm  text-gray-600;
}

.bank_status {
  @apply font-normal text-xs  text-gray-600;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 5px;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.credit-card-box {
  width: 350px;
  height: 280px;
  margin-right: 20px;
}
.credit-card-box:hover .flip,
.credit-card-box.hover .flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.credit-card-box .front,
.credit-card-box .back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 250px;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: linear-gradient(135deg, #11998e, #38ef7d);
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.credit-card-box .front::before,
.credit-card-box .back::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("https://webdevtrick.com/demos/earth.svg") no-repeat center;
  background-size: cover;
  opacity: 0.05;
}
.credit-card-box .flip {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
.credit-card-box .logo {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 60px;
}
.credit-card-box .logo svg {
  width: 100%;
  height: auto;
  fill: #fff;
}
.credit-card-box .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.credit-card-box .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.credit-card-box .back .logo {
  top: 185px;
}
.credit-card-box .chip {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 20px;
  left: 20px;
  background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
  border-radius: 8px;
}
.credit-card-box .chip::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid rgba(128, 128, 128, 0.1);
  width: 80%;
  height: 70%;
  border-radius: 5px;
}
.credit-card-box .strip {
  background: linear-gradient(135deg, #404040, #1a1a1a);
  position: absolute;
  width: 100%;
  height: 50px;
  top: 30px;
  left: 0;
}
.credit-card-box .number {
  position: absolute;
  margin: 0 auto;
  top: 103px;
  left: 30px;
  font-size: 26px;
}
.credit-card-box label {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 3px;
}
.credit-card-box .card-holder,
.credit-card-box .card-expiration-date {
  position: absolute;
  margin: 0 auto;
  top: 180px;
  left: 19px;
  text-transform: uppercase;
}
.credit-card-box .card-expiration-date {
  text-align: right;
  left: auto;
  right: 20px;
}
.credit-card-box .ccv {
  height: 36px;
  background: #fff;
  width: 91%;
  border-radius: 5px;
  top: 110px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  color: #000;
  text-align: right;
  padding: 10px;
}
.credit-card-box .ccv label {
  margin: -25px 0 14px;
  color: #fff;
}
